@keyframes fade-to-black {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.rarity-open-animation {
    @apply absolute h-screen w-screen top-0 left-0 z-50 bg-black overflow-hidden;   

    animation:
        fade-to-black 0.35s ease-in-out forwards,
        /* Order is weird */
        0.75s ease-in-out 9s 1 reverse forwards running fade-to-black;
}

@keyframes spiral-in {
    0% {
        transform: rotate(var(--animation-initial-rotate)) translateX(var(--animation-initial-translate)) scale(var(--animation-initial-scale));
    }
    100% {
        transform: rotate(var(--animation-final-rotate)) translateX(var(--animation-final-translate)) scale(var(--animation-final-scale));
    }
}

@keyframes spiral-in-left {
    0% {
        transform: rotate(var(--animation-initial-rotate)) translateX(calc(-1 * var(--animation-initial-translate))) scale(var(--animation-initial-scale));
    }
    100% {
        transform: rotate(var(--animation-final-rotate)) translateX(var(--animation-final-translate)) scale(var(--animation-final-scale));
    }
}

@keyframes spiral-in-top {
    0% {
        transform: rotate(var(--animation-initial-rotate)) translateY(calc(-1 * var(--animation-initial-translate))) scale(var(--animation-initial-scale));
    }
    100% {
        transform: rotate(var(--animation-final-rotate)) translateY(var(--animation-final-translate)) scale(var(--animation-final-scale));
    }
}

@keyframes spiral-in-bottom {
    0% {
        transform: rotate(var(--animation-initial-rotate)) translateY(var(--animation-initial-translate)) scale(var(--animation-initial-scale));
    }
    100% {
        transform: rotate(var(--animation-final-rotate)) translateY(calc(-1 * var(--animation-final-translate))) scale(var(--animation-final-scale));
    }
}

.rarity-open-orb {
    @apply absolute aspect-square rounded-full h-12 top-1/2 left-1/2;

    z-index: 51;
    /* background-color: radial-gradient(var(--tw-gradient-stops)); */
    background-color: white;
    box-shadow: 0 0 2rem var(--tw-shadow-color);

    --animation-initial-scale: 1;
    --animation-initial-translate: 40vh;
    --animation-initial-rotate: 0deg;

    --animation-final-scale: 5;
    --animation-final-translate: 0vh;
    --animation-final-rotate: 3600deg;

    animation: spiral-in 10s cubic-bezier(.9,0,.8,1) forwards;
    transform-origin: center center;
}

.rarity-open-orb-left {
    animation-name: spiral-in-left;
}

.rarity-open-orb-top {
    animation-name: spiral-in-top;
}

.rarity-open-orb-bottom {
    animation-name: spiral-in-bottom;
}

.rarity-open-animation-after {
    @apply absolute left-0 top-0 z-50 h-screen w-screen overflow-hidden bg-black bg-opacity-50;

    transform: scale(2);
    opacity: 0;
    animation: 0.5s ease-in-out 9s 1 normal forwards running fade-to-black;
}

@keyframes open-shockwave {
    0% {
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(4);
        opacity: 0;
    }
}

.rarity-open-shockwave {
    @apply absolute aspect-square rounded-full h-screen left-1/2 top-1/2;

    border-width: 3rem;
    box-shadow: 0 0 2rem var(--tw-shadow-color) inset;

    transform: translate(-50%, -50%) scale(0);
    opacity: 0;

    z-index: 49;

    animation: 0.5s ease-out 9.5s 1 normal forwards running open-shockwave;
}
